
 body{
justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}
button{
    border-radius:5rem;
    margin-top: 2rem;
    border: none;
    width: 80%;
    cursor: pointer;
    padding: 10px;
    background-color: chartreuse;
} 
.jsukai{
text-align: center;
   background: tomato;
   padding: 10px;
   border-radius: 20px;
   display: block;
   box-shadow: 5px 5px 5px;
   width: 50%;
   transition: transform 1s ease;
}
.jsukai:hover{
transform: translateY(-50px) ;
}
header{
    font-size: 50px;
    margin: 20px;
    margin-top: 0px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: buttom;
}
input{
    border: none;
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    background-color: transparent;
    bor
}
a :hover {
text-decoration: underline;
cursor : pointer;
}